<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/results.css">
    </head>
    <body>
        <main role="main">
            <section class="text-center">
                <div class="container mt-5">
                    <h1 class="jumbotron-heading mb-5">Music Vibes</h1>
                </div>
            </section>

            <div class="container">
                <div class="vstack gap-2 col-md-5 mx-auto">
                    <div class="d-flex gap-2">
                        <button type="button" disabled class="btn w-100 border border-black">Save changes</button>
                        <button type="button" class="btn w-20 h-50 border border-black icon"><img src="/imgs/spotify.svg" alt="Spotify Icon" width="50rem" height="50rem"  /></button>
                        <button type="button" class="btn w-20 h-50 border border-black icon"><img src="/imgs/cancel.svg" alt="Spotify Icon" width="50rem" height="50rem" /></button>
                    </div>
                    <button type="button" class="btn border border-black op-button">Export to Spotify</button>
                    <button type="button" class="btn border border-black op-button">Go Back</button>
                  </div>
            </div>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    </body>
</html>