.icon:hover {
    background-color: #1ed760;
}

.op-button:hover {
    background-color: #1ed760;
    font-weight: bold;
}

.music {
    color: #000;
    width: 50rem;
}

/* .back-button:hover {
    background-color: black;
    color: #FFF;
} */